    </style>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">Maternity Muse</div>
            <div class="images">
                <img
                    src=""
                    alt="image1"
                    class="image-small"
                />
                <img
                    src=""
                    alt="image2"
                    class="image-small"
                />
                <img
                    src=""
                    alt="image3"
                    class="image-small"
                />
            </div>
        </div>
        <div class="sub-header">
            <div class="sub-header-item">
                <img
                    src=""
                    alt="shopping-icon"
                    class="shopping-icon"
                />
                <div class="shopping-text">Continue Shopping</div>
            </div>
            <div class="checkout-title">Secure Checkout</div>
        </div>
        <div class="express-checkout">Express Checkout</div>
        <div class="or">OR</div>
        <div class="review-delivery-payment">
            <div class="review">Review</div>
            <img
                src=""
                alt="icon"
                class="icon"
            />
            <div class="delivery">Delivery</div>
            <div class="payment">Payment</div>
        </div>
        <div class="email">Email</div>
        <div class="item-details">
            <div class="item-info">
                Item Name
                <br><br>
                Quality:
                <br><br>
                Price
            </div>
            <div class="item-name">Name</div>
        </div>
        <div class="additional-details">
            <div class="telephone">
                Telephone Number
                <div class="gift">
                    <div class="gift-checkbox"></div>
                    <div>Is this a gift?</div>
                </div>
                <div class="delivery-address">Delivery Address</div>
            </div>
            <img
                src=""
                alt="image4"
                class="image4"
            />
        </div>
        <div class="order-summary">
            <div class="summary-title">ORDER SUMMARY</div>
            <div class="summary-details">
                <div class="summary-item">
                    Item:
                    <br><br>
                    Subtotal:
                    <br><br>
                    Shipping:
                    <br><br>
                    Tax:
                    <br><br>
                    Order Total:
                    <span class
