
.img-placeholder {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  overflow: hidden;
} 
  
.img-placeholder img {
  min-width: 10%;
  max-height: 100%;
  object-fit: contain;
}
 