.ShopAll {
  text-align: center;
}

.ShopAll h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ShopAll p {
  font-size: 18px;
  margin-bottom: 20px;
}

.sort-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}